<div class="columns">
  <div class="column is-6-desktop">
    <%= link_to "Sign up with Facebook", user_facebook_omniauth_authorize_path, class: "button facebook-button" %>
    <hr>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :full_name, class: "label" %>
        <div class="control">
          <%= f.text_field :full_name, autofocus: true, class: "input" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :email, class: "label" %>
        <div class="control">
          <%= f.email_field :email, autofocus: true, class: "input" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :password, class: "label" %>
        
        <div class="control">
          <%= f.password_field :password, autocomplete: "off", class: "input" %>
        </div>
        <% if @minimum_password_length %>
          <p>(<%= @minimum_password_length %> characters minimum)</p>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: "label" %>
        <div class="control">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "input" %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= f.submit "Sign up", class: "button is-primary" %>
        </div>
      </div>

      <p>Already registered? <%= link_to "Sign in", new_user_session_path %></p>
     
    <% end %>
  </div>
</div>


