<% provide(:title, "Account") %>
<div class="account">  
  <div class="columns">
    <div class="column">
      <h4 class="title is-4"><%= @user.full_name %> Account Information</h4>
      <ul>
        <li>Balance: <%= @user.minutes %> minutes</li>
        <% if @user.videos %>
          <li>Paypay Email Address: <%= @user.paypal_email || @user.email %></li>
        <% end %>
        <li><%= "Used #{@minutes_used_last_30} minutes in the last 30 days" %></li>
      </ul>
    </div>
  </div>
  <div class="columns">
    <div class="column">
     
    </div>
  </div>
  <div class="columns">
    <div class="column is-4-desktop">
      <h5 class="title is-5">Most Watched Courses</h5>
      <table class="table">
        <thead>
          <tr>
            <th>Course</th>
            <th>Minutes</th>
          </tr>
        </thead>
        <tbody>
          <% @most_watched_courses.each do |course, seconds| %>
            <tr>
              <td><%= course.title %></td>
              <td class="minutes"><%= seconds/60 %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="column is-4-desktop">
      <h5 class="title is-5">Most Watched Instructors</h5>
      <table class="table">
        <thead>
          <tr>
            <th>Instructor</th>
            <th>Minutes</th>
          </tr>
        </thead>
        <tbody>
          <% @most_watched_uploaders.each do |user, seconds| %>
            <tr>
              <td><%= user.full_name %></td>
              <td class="minutes"><%= seconds/60 %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= link_to "Buy Minutes", new_charge_path %>
  <% if @user.uploader? %> | 
    <%= link_to "Cash out", new_charge_path %>
  <% end %>
    | <%= link_to "Edit Account", edit_user_path(@user) %>
</div>
