<% provide(:title, @user.full_name) %>
<div class="profile">
  <div class="columns" id="user_card">
    <div class="column is-3 is-offset-4">
      <figure class="image is-480x480">
        <%=image_tag @user.image%>
      </figure>
        <h3 class="title is-3" id="user_name"><%= @user.full_name %></h3>
        <span><%= @videos.count %> videos</span> | 
        <span><%= @user.total_minutes_earned %></span> min
    </div>
  </div>
  <%= render 'shared/videos' %>
</div>



