<% provide(:title, @user.full_name) %>
<div class="profile">
  <div class="columns" id="user_card">
    <div class="column is-3 is-offset-4">
      <figure class="image is-480x480">
        <%=image_tag @user.image%>
      </figure>
        <h3 class="title is-3" id="user_name"><%= @user.full_name %></h3>
        <span><%= @user.courses.count %> Courses</span> | 
        <span><%= number_to_human(@user.total_minutes_earned) %></span> views
    </div>
  </div>
<hr>
  <div class="columns is-multiline">
    <% @user.courses.each do |course| %>
      <div class="column is-4">
        <%= link_to course_path(course) do %>
          <div class="card">
            <p class="card-creator-name"><%= course.user.full_name %></p>
            <p class="card-course-title"><%= course.title %></p>
            <p class="card-description"><%= course.description %></p>
            <footer class="card-footer">
              <span class="card-footer-item"><%= youtube_time(course.seconds) %></span>
              <span class="card-footer-item"><%= number_to_human(course.minutes_viewed) %> Views</span>
            </footer>
          </div>
        <% end %>
    </div>
    <% end %>
  </div>
</div>



