<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script>
<% if @video.errors.any? %>
  <ul>
    <% @video.errors.full_messages.each do |msg| %>
      <li class="notification is-danger"><%= msg %></li>
    <% end %>
  </ul>
  <br>
<% end %>
<div class="columns">
  <div class="column is-6-desktop is-12-mobile">
    <%= form_for @video do |f| %>
      <div class="field">
        <div class="control">
          <%= f.text_field :title, class: "input", placeholder: "Title" %>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= f.text_area :description, class: "textarea", placeholder: "Short Video Description"%>
        </div>
      </div>
      <div class="field">
        <%= content_tag(:div, "&nbsp;", 
                    class: "wistia_embed wistia_async_#{@video.wistia_id} autoPlay=true",
                    id: "wistia_vid",
                    style: "height:360px;",
                    data: { video_id: @video.wistia_id }) %>
      </div>
      <div class="field">
        <%= f.label :download, "Attachment (Optional)" %>
        <div class="control">
          <%= f.file_field :download %>
        </div>
      </div>
      <%= f.hidden_field :length_in_seconds %>
      <%= f.hidden_field :wistia_id %>
      <%= f.hidden_field :wistia_delivery_id %>
      <%= f.hidden_field :section_id, value: @section.id %>
      <div class="field">
        <div class="control">
          <%= f.submit "Submit", class: "button is-primary", id: "video-submit" %>
        </div>
      </div>
    <% end %>
    <div class="columns">
      <div class="column">
      <br>
        <%= button_to "Delete Video", video_path(@video), method: :delete, class: "button is-danger", data: { confirm: "Are you sure?"} %>
      </div>
    </div>
  </div>
</div>