<% provide(:title, "Upload") %>
<script src="//fast.wistia.com/assets/external/api.js" async></script>
<link rel="stylesheet" href="//fast.wistia.com/assets/external/uploader.css" />
<% if @video.errors.any? %>
  <ul>
    <% @video.errors.full_messages.each do |msg| %>
      <li class="notification is-danger"><%= msg %></li>
    <% end %>
  </ul>
  <br>
<% end %>
<div class="columns">
  <div class="column is-6-desktop is-12-mobile">
  <!-- <p>Anyone can upload videos to Browzable and earn money. 70% of revenue from your videos will be paid out to you. Click <%= link_to "here", '/getting_paid' %> for informtion on getting paid.</p><br> -->
    <%= form_for [@section, @video] do |f| %>
      <div class="field">
        <div class="control">
          <%= f.text_field :title, class: "input", placeholder: "Title" %>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= f.text_area :description, class: "textarea", placeholder: "Short Video Description", rows: 20 %>
        </div>
      </div>
      <div class="field">
        <%= wistia_uploader %>
      </div>
      <%= f.hidden_field :length_in_seconds %>
      <%= f.hidden_field :wistia_id %>
      <%= f.hidden_field :wistia_delivery_id %>
     <!--  <p>By uploading a video to Browzable you agree to our 
        <%= link_to "License Agreement", '/license_agreement' %>.
      </p><br> -->
      <div class="field">
        <div class="control">

          <%= f.submit "Submit", class: "button is-primary", id: "video-submit", disabled: true %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
window._wapiq = window._wapiq || [];
_wapiq.push(function(W) {
  window.wistiaUploader = new W.Uploader({
    accessToken: '7583b7e3465fbaaa70163ab255a0f9581b9817755d4dac04d4b75556c5e61da9',
    dropIn: "wistia_uploader",
    projectId: document.getElementById("wistia_uploader").dataset.project,

    extraVideoExtensions: 'mkv'
  });
  wistiaUploader.bind("uploadembeddable", function(file, media, embedCode, oembedResponse) {
    console.log("Here's the media in Wistia: ", media);
    addMediaInfo(media); // save the embed code to your database to display the video in the future
    $("#video-submit").prop("disabled", false);

  });

});
</script>
<script>
  function addMediaInfo(media) {
    document.getElementById("video_wistia_id").value = media.id;
    document.getElementById("video_length_in_seconds").value = Math.round(media.attributes.duration);
    document.getElementById("video_wistia_delivery_id").value = extractHash(media.thumbnail.url);
  }

  function extractHash(thumbnailUrl) {
    return thumbnailUrl.slice(40, 80);
  }
</script>



