<% provide(:title, @video.title) %>
<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script>

<div class="columns">
  <div class="column video-column">
    <%= content_tag(:div, "&nbsp;", 
                    class: "wistia_embed wistia_async_#{@video.wistia_id} autoPlay=true",
                    id: "wistia_vid",
                    style: "height:360px;width:640px",
                    data: { video_id: @video.wistia_id }) %>
    <div class="video-info">
      <p class="video-show-title"><%= @video.title %></p>
      <p class="video-show-minutes"><%= number_to_human(@video.seconds_viewed/60) %> minutes watched</p>
    </div>
    <div class="creator-info">
      <%= link_to user_path(@video.user) do %>
        <%=image_tag @video.user.image, size: "100x100" %>
      <% end %>
      <%= link_to user_path(@video.user) do %>
        <%= content_tag :p, @video.user.full_name, id: "video-creator-name" %>
      <% end %>
  
    </div>
  </div>
</div>

<%= form_with model: Play.new, id: "play" do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :video_id, value: @video.id %>
  <%= f.hidden_field :length_in_seconds, value: 0, id: "length_in_seconds" %>
<% end %>

<script>
counter = 0;
var video_id = document.getElementById("wistia_vid").dataset.videoId;
console.log(video_id)
window._wq = window._wq || [];
_wq.push({ id: video_id, onReady: function(video) {
  console.log("I got a handle to the video!", video);
  video.bind("secondchange", function(s) {
    incrementCounter();
  });
}});

function incrementCounter() {
  counter++;
  console.log(counter);
  if (counter == 10) {
    sendPlayUpdate(counter);
    counter = 0;
  }
}

function sendPlayUpdate(count) {
  var form = document.getElementById("play");
  var countInput = document.getElementById("length_in_seconds");
  countInput.value = parseInt(count);
  if (form.dispatchEvent(new Event('submit', { bubbles: true, cancelable: true })) !== false) {
  form.submit()
  }
}

</script>
