<% provide(:title, @video.title) %>
<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script>

<div class="columns video-page">
  <div class="column video-column is-10 is-offset-1">
    <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
      <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
        <%= content_tag(:div, "&nbsp;", 
                        class: "wistia_embed wistia_async_#{@video.wistia_id} autoPlay=true",
                        id: "wistia_vid",
                        style: "height:100%;width:100%",
                        data: { video_id: @video.wistia_id }) %>
      </div>
    </div>
    <br>
    <div class="columns video-info">
      <div class="column">
        <nav class="level">
          <div class="level-item has-text-centered">
            <%= link_to("Prev: #{@video.higher_item.title}", 
                video_path(@video.higher_item), 
                class: "link is-5") unless @video.first? %>
          </div>
          <div class="level-item has-text-centered">
            <p class="title is-4"><%= @video.title %></p>
          </div>
          <div class="level-item has-text-centered">
            <%= link_to("Next: #{@video.lower_item.title}", video_path(@video.lower_item)) unless @video.last? %>
          </div>
        </nav>
      </div>
    </div>
    <div class="columns">
      <div class="column">
            <%= link_to user_path(@video.user) do %>
              <%=image_tag @video.user.image, size: "25x25" %>
              <%= @video.user.full_name %>
            <% end %>
            >
            <%= link_to @video.section.course.title, course_path(@video.section.course) %>
            >
            <%= link_to section_header(@video.section), section_path(@video.section) %>

        </div>
      </div>
    </div>
  </div>
</div>

<%= form_with model: Play.new, id: "play" do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :video_id, value: @video.id %>
  <%= f.hidden_field :length_in_seconds, value: 0, id: "length_in_seconds" %>
<% end %>

<script>
counter = 0;
var video_id = document.getElementById("wistia_vid").dataset.videoId;
console.log(video_id)
window._wq = window._wq || [];
_wq.push({ id: video_id, onReady: function(video) {
  console.log("I got a handle to the video!", video);
  video.bind("secondchange", function(s) {
    incrementCounter();
  });
}});

function incrementCounter() {
  counter++;
  console.log(counter);
  if (counter == 10) {
    sendPlayUpdate(counter);
    counter = 0;
  }
}

function sendPlayUpdate(count) {
  var form = document.getElementById("play");
  var countInput = document.getElementById("length_in_seconds");
  countInput.value = parseInt(count);
  if (form.dispatchEvent(new Event('submit', { bubbles: true, cancelable: true })) !== false) {
  form.submit()
  }
}

</script>
