<h4 class="title is-4">New Section</h4>

<% if @section.errors.any? %>
  <ul>
    <% @section.errors.full_messages.each do |msg| %>
      <li class="notification is-danger"><%= msg %></li>
    <% end %>
  </ul>
  <br>
<% end %>

<div class="columns">
  <div class="column is-6-desktop">
    <%= form_for [@course, @section] do |f| %>
      <div class="field">
        <%= f.label :title, class: "label" %>
        <div class="control">
          <%= f.text_field :title, class: "input" %>
        </div>
      </div>
      <div class="field">
        <%= f.submit "Add", class: "button is-primary" %>
      </div>
    <% end %>
  </div>
</div>