<p class="title">
  <%= link_to(@section.show.title, show_path(@section.show)) %> | 
  <%= link_to(section_header(@section), "#") %>
</p>
<div class="columns is-multiline ">
  <% @videos.each do |video| %>
      <div class="column is-10-desktop list-item">
        <%= link_to video_path(video) do %>
          <div class="card">
            <div class="card-content">
              <span><%= video.title %></span>
              <span class="video-time"><%= youtube_time(video.length_in_seconds) %></span>
            </div>
          </div>
        <% end %>
      </div>
      <% if @section.show.user == current_user %>
        <div class="column is-2-desktop">
          <span><%= link_to "Edit", edit_video_path(video) %></span> | 
          <span><%= link_to "Delete", video, method: :delete, data: { confirm: "Are you sure?" } %></span>
        </div>
      <% end %>
  <% end %>

</div>
<% if @section.show.user == current_user %>
  <%= link_to "Add Video", new_show_video_path(@show, section_id: @section.id), class: "button is-primary" %>
<% end %>