<p class="title">
  <% if @section.course.sections.count == 1 %>
    <%= @section.course.title %>
  <% else %>
    <%= link_to(@section.course.title, course_path(@section.course)) %> | 
    <%= link_to(section_header(@section), "#") %>
  <% end %>
</p>
<div class="columns is-multiline ">
  <% @videos.order(:position).each do |video| %>
      <div class="column is-10-desktop list-item">
        <%= link_to video_path(video) do %>
          <div class="card">
            <div class="card-content">
              <span><%= video.position %>.</span>
              <span><%= video.title %></span>
              <span class="video-time"><%= youtube_time(video.length_in_seconds) %></span>
            </div>
          </div>
        <% end %>
      </div>
  <% end %>
</div>


<% if @section.course.user == current_user %> 
  <div class="columns">
    <div class="column">
      <%= link_to "Add Video", new_section_video_path(@section), class: "button is-primary" %>
      <div>
        <br>
        <%= link_to "Edit Section", edit_section_path(@section) %>
        <% if @section.course.sections.count == 1 %>
          <br>
          <%= link_to "Edit Course", edit_course_path(@section.course) %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>