<div class="columns is-multiline">
  <% @courses.each do |course| %>
    <div class="column is-4">
      <%= link_to course_path(course) do %>
        <div class="card">
          <p class="card-creator-name"><%= course.user.full_name %></p>
          <p class="card-course-title"><%= course.title %></p>
          <p class="card-description"><%= course.description %></p>
          <footer class="card-footer">
            <span class="card-footer-item"><%= youtube_time(course.seconds) %></span>
            <span class="card-footer-item"><%= course.minutes_viewed %> Views</span>
          </footer>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<div class="columns">
  <div class="column is-offset-4" >
    <%= paginate @courses %>
  </div>
</div>
