<p class="title"><%= @show.title %></p>
<% @sections.each do |section| %>
  <div class="columns">
    <div class="column list-item">
      <%= link_to section_path(section) do %>
        <div class="card">
          <div class="card-content">
            <p><%= section.title || "Section X" %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% if @show.user == current_user %> 
  <div class="columns">
    <div class="column">
      <%= link_to "Add Module", new_section_path %>
      <%= link_to "Add Video", new_video_path %>
    </div>
  </div>
<% end %>
