<footer class="footer">
  <div class="content">
    <%= link_to 'About', '/about' %> | 
    <%= link_to 'Terms of Use', '/terms' %> |
    <%= link_to 'Instructor Agreement', '/instructor_agreement' %> |
    <%= link_to 'Privacy Policy', '/privacy' %> |
    <%= link_to 'Contact', '/contact' %>
  </div>
</footer>