<div class="nav has-shadow">
  <div class="nav-left">
    <%= link_to root_url, class: "nav-item", id: "logo" do %>
      <%= image_tag 'logo.png' %>
    <% end %>
    <%= link_to root_url, class: "nav-item", id: "logo-text" do %>
      <span>Browzable</span>
    <% end %>
    <% if logged_in? %>
      <%= render 'layouts/search' %>
    <% else %>
      <%= link_to login_path, class: "nav-item", id: "sign-in" do %>
          <span class="button is-primary">Connect With Facebook</span>
      <% end %>
    <% end %>
  </div>
  <span class="nav-toggle" id="nav-toggle" onclick="toggleMenu();">
    <span></span>
    <span></span>
    <span></span>
  </span>
 
    <% if logged_in? %>
      <div class="nav-right nav-menu" id="nav-menu">
        <%= link_to "Create Course", new_course_path, class: "nav-item", "data-turbolinks" => 'false' %>
        <%= link_to "Buy Minutes", new_charge_path, class: "nav-item", id: 'buy', 'data-turbolinks' => 'false' %>
        <div class="dropdown nav-item">
          <%= image_tag user_image(current_user) || 'default.jpg', id: "dropdown-button", class: "image is-circle", onclick: "dropdown();" %>
          <ul id="dropdown-content">
            <li>
              <%= link_to "Account", '/account', id: "dropwdown-account" %>
            </li>
            <% if current_user.uploader? %>
              <li>
                <%= link_to "Profile", '/profile', id: "dropdown-profile" %>
              </li>
            <% end %>
            <li>
              <%= link_to "Log out", '/logout', id: "dropdown-logout" %>
            </li>
          </ul>
        </div>
        <%= link_to "Profile", '/profile', id: "menu-profile", class: "nav-item", style: "display:none;" %>
        <%= link_to "Log out", '/logout', id: "menu-logout", class: "nav-item", style: "display:none;" %>
        <%= link_to current_user.balance/60, account_path, class: "nav-item", id: "balance"%>
      </div>
    <% else %>
      <div class="nav-right nav-menu" id="nav-menu"> 
        <%= render 'layouts/search' %>
        
      </div>
    <% end %>

</div>
<script>
  function dropdown() {
    console.log("dropped");
    $("#dropdown-content").toggle();
  }

  function toggleMenu() {
    $("#nav-toggle").toggleClass('is-active');
    $(".nav-menu").toggleClass('is-active');
    $(".dropdown").toggle();
    $("#menu-profile").toggle();
    $("#menu-logout").toggle();
  }

</script>