<div class="nav has-shadow">
  <div class="nav-left">
    <%= link_to root_url, class: "nav-item", id: "logo" do %>
      <%= image_tag 'logo.png' %>
    <% end %>
    <%= link_to root_url, class: "nav-item", id: "logo-text" do %>
      <span>Browzable</span>
    <% end %>
    <%= form_tag("/search", method: "get", class: "nav-item") do %>
      <div class="field has-addons">
        <p class="control">
          <%= text_field_tag(:q, "", class: "input") %>
        </p>
        <p class="control">
          <%= submit_tag("Search", class: "button is-primary") %>
        </p>
      </div>
    <% end %>
  </div>
  <% if logged_in? %>
    <div class="nav-center">
      <%= link_to new_video_path, class: "nav-item", "data-turbolinks" => 'false' do %>
        <span class="button is-primary">Upload</span>
      <% end %>
      <%= link_to new_charge_path, class: "nav-item", id: 'buy', 'data-turbolinks' => 'false' do %>
        <span class="button is-primary">Buy Minutes</span>
      <% end %>
      <div class="dropdown nav-item">
        <%= button_tag "Actions", id: "dropdown-button", class: "button is-primary" %>
        <ul id="dropdown-content">
          <li>
            <%= link_to "Account", account_path %>
          </li>
          <% if current_user.uploader? %>
            <li>
              <%= link_to "Profile", user_path(current_user) %>
            </li>            
          <% end %>
          <li>
            <%= link_to "Log out", logout_path %>
          </li>
        </ul>
      </div>
    </div>
    <div class="nav-right">
      <%= link_to account_path, class: "nav-item", id: "balance" do %>
        <span><%= current_user.balance/60 %></span>
      <% end %>
    </div>
  <% else %>
    <div class="nav-right">    
      <%= link_to login_path, class: "nav-item", id: "sign-in" do %>
        <span class="button is-primary">Connect With Facebook</span>
      <% end %>
      <%= link_to '/test_login', class: "nav-item" do %>
        <span class="button is-primary">Test Login</span>
      <% end %>
    </div>
  <% end %>
</div>
<script>
  $("#dropdown-button").click(function() {
    $("#dropdown-content").toggle();
  });
</script>