<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', data_turbolinks_track: "reload" %>
  </head>

  <body>
    <%= render 'layouts/nav' %>
      <% if !user_signed_in? && current_page?(controller: '/courses', action: 'index') %>
        <%= render 'layouts/banner' %>
      <% end %>
      <div class="section">
        <div class="container">
          <% flash.each do |message_type, message| %>
            <%= content_tag(:div, message, class: "notification is-#{message_type}") %>
          <% end %>
          <%= yield %>
        </div>
      </div>

    <%= render 'layouts/footer' %>
  </body>
</html>
